<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Liga.ru</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
    .small-column {
        width: 150px;
    }
    .icon-gray {
        color: gray;
    }
    .icon-gray svg {
        fill: white;
    }
    .userAuthentication {
            flex-grow: 1;
            text-align: center;
        }
  </style>
  <script>
    function validateForm() {
      const nameInput = document.getElementById("name");
      const loginInput = document.getElementById("username");
      const namePattern = /^[а-яА-ЯёЁ\s]+$/;
      const loginPattern = /^[a-zA-Z0-9]+$/;

      if (!namePattern.test(nameInput.value)) {
        alert("Имя должно быть не пустым и содержать только русские буквы.");
        return false;
      }

      if (!loginPattern.test(loginInput.value)) {
        alert("Логин должен быть не пустым и содержать только латинские буквы.");
        return false;
      }

      return true;
    }
  </script>
</head>

<body>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="330" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-2">Страница пользователей</span>
  </a>

  <div class="userAuthentication">
    <span th:text="${userAuthentication}" class="fs-5"></span>
  </div>

  <ul class="nav nav-pills">
    <li class="nav-item"><a th:href="@{/tasks}" class="nav-link" aria-current="page">Задачи</a></li>
    <li class="nav-item"><a th:href="@{/projects}" class="nav-link">Проекты</a></li>
    <li class="nav-item"><a th:href="@{/users}" class="nav-link active">Пользователи</a></li>
    <li class="nav-item">
      <form th:action="@{/logout}" method="post" class="btn btn-secondary">
        <button type="submit" class="nav-link btn btn-link text-white p-0">Выход</button>
      </form>
    </li>
  </ul>
</header>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div th:if="${message}" class="alert alert-info" role="alert">
    <span th:text="${message}"></span>
  </div>

  <h5>Добавить роль пользователю</h5>
  <form id="addRoleForm" method="post" class="row g-3 mb-3">
    <div class="col-md-2">
      <label for="user" class="form-label">Пользователь</label>
      <select id="user" name="userId" class="form-select" required>
        <option value="">Выберите пользователя</option>
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="roleId" class="form-label">Роль</label>
      <select id="roleId" name="roleId" class="form-select" required>
        <option value="">Выберите роль</option>
        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
      </select>
    </div>
    <div class="col-md-1 d-flex align-items-end">
      <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
  </form>

  <script>
    document.getElementById('addRoleForm').addEventListener('submit', function (event) {
        var form = event.target;
        var userId = document.getElementById('user').value;
        var roleId = document.getElementById('roleId').value;

        if (userId && roleId) {
            form.action = '/users/' + userId + '/role/' + roleId;
        } else {
            event.preventDefault(); // Если userId или roleId не выбраны, отменить отправку формы
            alert('Пожалуйста, выберите пользователя и роль.');
        }
    });
  </script>

  <div class="d-flex align-items-center mb-3">
    <h2>Пользователи</h2>
    <a th:href="@{users/editUser}" class="btn btn-primary btn-sm ms-3">Добавить пользователя</a>
  </div>

  <div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th scope="col">Имя</th>
        <th scope="col">Логин</th>
        <th scope="col">Пароль</th>
        <th scope="col">Роли</th>
        <th scope="col">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td>******</td>
        <td>
          <ul>
            <li th:each="role : ${user.getRoles()}">
              <form th:action="@{/users/{userId}/role/{roleId}(userId=${user.id}, roleId=${role.id})}" method="post" style="display:inline;">
                <input type="hidden" name="_method" value="delete"/>
                <span th:text="${role.getName()}"></span>
                <button type="submit" class="btn btn-link">
                  <i class="fas fa-trash-alt icon-gray"></i>
                </button>
              </form>
            </li>
          </ul>
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <form th:action="@{/users/editUser/{userId}(userId=${user.id})}" method="get">
              <input type="hidden" name="userId" th:value="${user.id}"/>
              <button type="submit" class="btn btn-white">
                <i class="fas fa-edit icon-gray"></i>
              </button>
            </form>
            <form th:action="@{/users/{userId}(userId=${user.id})}" method="post">
              <input type="hidden" name="_method" value="delete"/>
              <button type="submit" class="btn btn-white">
                <i class="fas fa-trash-alt icon-gray"></i>
              </button>
            </form>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>

</body>
</html>